body {
  padding-top: 0px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.theme-width-300 {
    width:300px;
}

.left {
    float:left;
}

.form-group {
    margin: 15px;
}

.margin-15 {
    margin: 0 15px;
}

.marketing {
    text-align: center;
}

.marketing .gitem {
  width: 48%;
  float: left;
  margin-top: 5px;
}

.marketing .desc {
  height: 60px;
  text-align: left;
  background-color: #EEF1F0;
  margin: 2px;
}
.marketing h4 {margin-top: 10px; font-weight: bold;}
.toparea { background-color: #EEF1F0; margin-top: 20px; text-align: center;}

.footer {margin-top: 40px; }

.item_title { background-image: -webkit-linear-gradient(top,#008B57 0,#008B57 100%); }