body {
  padding-top: 0px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.theme-width-300 {
    width:300px;
}

.left {
    float:left;
}

.form-group {
    margin: 15px;
}

.margin-15 {
    margin: 0 15px;
}

.marketing {
    text-align: center;
}

.marketing .gitem {
  width: 48%;
  float: left;
  margin-top: 5px;
}
.marketing .gsitem {
  width: 25%;
  float: left;
  margin-top: 5px;
}
.marketing .desc {
  height: 60px;
  text-align: left;
  background-color: #EEF1F0;
  margin: 2px;
}
.marketing h4 {margin-top: 10px; font-weight: bold;}
.toparea { background-color: #EEF1F0; margin-top: 20px; text-align: center;}

.footer {margin-top: 40px; }

.item_title { background-image: -webkit-linear-gradient(top,#008B57 0,#008B57 100%); }

#nav-right li:hover { background-color : #008B57; }

.main-title {
  margin: 30px 0 25px;
  font-size: 18px;
  vertical-align: middle;
}

.btn-primary { border-color: #008b57;
  background-color: #009a61;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: -webkit-linear-gradient(top, #009a61 0%, #00905b 100%);
  background-image: -o-linear-gradient(top, #009a61 0%, #00905b 100%);
  background-image: linear-gradient(to bottom, #009a61 0%, #00905b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF009A61', endColorstr='#FF00905B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.btn-primary:hover {
  background-color: #008b57;
  background-position: 0 -15px;
}
.nav-tabs-zen>li>a {
  color: #333;
}

.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  background-color: #008E59;
  border-color: #008E59;
  cursor: default;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.5;
  text-decoration: none;
  color: #008E59;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.blog-stream .stream-list__item {
  padding: 12px 0;
}
.stream-list__item {
  margin: 0;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.blog-rank {
  float: left;
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid #f3f3f3;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  color: #666;
}
.blog-rank .votes {
  margin-bottom: 8px;
  background: #f0f0f0;
}
.blog-rank .plus {
  background: #009a61;
  color: #fff;
}
.blog-rank .votes, .blog-rank .views {
  display: block;
  padding-top: 3px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.blog-rank .views {
  color: #999;
}
.blog-rank small {
  display: block;
  font-size: 12px;
}
.stream-list__item .summary {
  overflow: auto;
  overflow-x: hidden;
}
.stream-list__item .title {
  display: inline;
  margin: 0 5px 0 0;
  font-size: 16px;
}
.stream-list__item .title a:visited {
  font-weight: 400;
}
.stream-list__item .title a {
  color: #333;
}
.stream-list__item .excerpt {
  margin: 5px 0 0;
  height: 42px;
  color: #777;
  font-size: 13px;
  line-height: 1.6;
  overflow: hidden;
}
.wordbreak {
  word-break: break-all;
}

.blog-stream .stream-list__item .author {
  margin-top: 5px;
}
.stream-list__item .author {
  margin-bottom: 5px;
  color: #999;
  font-size: 13px;
}
.list-inline {
  margin-left: -5px;
}
.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.blog-stream .stream-list__item .author a {
  color: #009a61;
}
.avatar-20 {
  width: 20px;
  height: 20px;
  float:left;
}
[class*="avatar-"] {
  border-radius: 2px;
}
.mr10, .mr-10 {
  margin-right: 10px;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
.mt30, .mt-30 {
  margin-top: 30px;
}
.widget-welcome {
  margin-bottom: 25px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #666;
  -moz-box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
  box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
}
.widget-welcome .title {
  margin: 0 0 10px;
  color: #D0021B;
}
h4, .h4 {
  font-size: 20px;
}
.widget-welcome ul {
  margin: 15px 0 0;
}
.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none;
}
.widget-welcome li {
  margin-top: 6px;
}
[class*="btn-sn-"], [class*="btn-sn-"]:hover, [class*="btn-sn-"]:active, [class*="btn-sn-"]:focus {
  border: none;
  color: #fff;
}
.btn-sn-google {
  background: #4285F4;
}
.btn-sn-weibo {
  background: #E90D24;
}
[class*="btn-sn-"] [class*="icon-sn-"] {
  background-color: transparent;
}
[class*="icon-sn-"] {
  display: inline-block;
  background-image: url(/static/images/themes/icon-sn.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-size: auto 20px;
  -o-background-size: auto 20px;
  -webkit-background-size: auto 20px;
  background-size: auto 20px;
}
.icon-sn-google {
  background-color: #4285F4;
  background-position: 0px 0;
}
.icon-sn-weibo {
  background-color: #E90D24;
  background-position: -40px 0;
}
.widget-box {
  margin: 25px 0;
  padding-top: 25px;
  border-top: 1px solid #eee;
}
.widget-box .widget-box__title {
  margin: 0 0 20px;
  font-size: 16px;
}
.media:first-child {
  margin-top: 0;
}
.widget-user {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 0;
}
.media, .media .media {
  margin-top: 15px;
}
.media, .media-body {
  overflow: hidden;
  zoom: 1;
}
.media>.pull-left {
  margin-right: 10px;
}
.pull-left {
  float: left !important;
}
.pull-left {
  float: left;
}
.avatar-40 {
  width: 40px;
  height: 40px;
}
[class*="avatar-"] {
  border-radius: 2px;
}
.media-object {
  display: block;
}
img {
  vertical-align: middle;
}
a {
  color: #008E59;
  text-decoration: none;
}
.taglist--inline, .taglist--block {
  list-style: none;
  padding: 0;
  font-size: 0;
}
.taglist--block>li {
  margin-bottom: 8px;
}
.taglist--inline li, .taglist--block li {
  padding: 0;
  font-size: 13px;
}
.mb10, .mb-10 {
  margin-bottom: 10px;
}
.tag {
  display: inline-block;
  padding: 0 8px;
  color: #017e66;
  background-color: #E7F2ED;
  height: 24px;
  line-height: 24px;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
}
.taglist--inline.multi>li {
  margin-bottom: 5px;
}
.taglist--inline>li {
  display: inline-block;
  margin-right: 5px;
}
.taglist--inline li, .taglist--block li {
  padding: 0;
  font-size: 13px;
}
.widget-links__item {
  margin-bottom: 8px;
}
.widget-links__item a {
  margin-right: 6px;
  word-break: break-word;
}
.widget-links__item small {
  display: inline-block;
  font-size: 13px;
}
.text-muted {
  color: #777;
}
.qa-rank, .bookmark-rank {
  float: left;
  margin-right: 5px;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  color: #666;
}
.qa-rank .votes, .bookmark-rank .votes, .qa-rank .answers, .bookmark-rank .answers, .qa-rank .views, .bookmark-rank .views {
  display: inline-block;
  padding-top: 3px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.qa-rank .answered, .bookmark-rank .answered {
  background-color: #009a61;
  color: #fff;
}
.qa-rank small, .bookmark-rank small {
  display: block;
  font-size: 12px;
}
.qa-rank .answers, .bookmark-rank .answers {
  background-color: #AD3A37;
  color: #fff;
}
.qa-rank .answered, .bookmark-rank .answered {
  background-color: #009a61;
  color: #fff;
}
.qa-rank .views, .bookmark-rank .views {
  width: 50px;
  color: #999;
}
.ib.taglist--inline, .ib.taglist--block {
  margin: 0;
  display: inline-block;
}
.stream-list__item .author a {
  color: #999;
}
.global-nav .logo {
  float: left;
  margin: 0;
  display: inline-block;
}
h1, .h1 {
  font-size: 25px;
}
.global-nav .logo a.sf {
  display: block;
  height: 54px;
  width: 161px;
  background: url(/static/images/themes/logo-w.svg) no-repeat left center;
  -moz-background-size: 161px auto;
  -o-background-size: 161px auto;
  -webkit-background-size: 161px auto;
  background-size: 161px auto;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
}
.global-nav .logo a {
  text-decoration: none;
  float: left;
}
.qa-rank .minus, .bookmark-rank .minus {
  color: #AD3A37;
}
.qa-rank .plus, .bookmark-rank .plus {
  color: #009a61;
}
.wrap {
  padding-bottom: 30px;
  position: relative;
}
.post-topheader {
  padding: 15px 0;
  background: #f6f6f6;
}
.post-topheader .breadcrumb {
  margin: 0 0 10px;
  padding: 0;
  background-color: transparent;
}
.breadcrumb>li {
  font-size: 13px;
}
.breadcrumb>li {
  display: inline-block;
}
.breadcrumb>li>a {
  color: #333;
}
.breadcrumb>.active {
  color: #777;
}
.post-topheader .title {
  margin: 0;
}
.post-topheader .title a, .post-topheader .title a:hover, .post-topheader .title a:active {
  color: #333;
  text-decoration: none;
}
.post-topheader .author {
  margin-top: 10px;
  color: #999;
}
.mr5, .mr-5 {
  margin-right: 5px;
}
.avatar-24 {
  width: 24px;
  height: 24px;
}
[class*="avatar-"] {
  border-radius: 2px;
}
.mr10, .mr-10 {
  margin-right: 10px;
}
.black, .text-black {
  color: #333;
}
.post-topheader .widget-action--ver {
  margin-top: 10px;
}
.widget-action--ver {
  color: #999;
}
.widget-action--ver li:first-child {
  margin-top: 0;
}
.widget-action--ver button {
  margin-right: 8px;
  min-width: 58px;
}
.widget-action--ver li:first-child {
  margin-top: 0;
}
.widget-action--ver strong {
  color: #333;
}
.widget-action--ver li {
  margin-top: 12px;
}
.post-col {
  float: left;
  width: 36px;
  position: relative;
}
.widget-vote {
  position: relative;
  width: 36px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  background: #f3f3f3;
  color: #666;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.widget-vote .like {
  top: 0;
  height: 36px;
}
.widget-vote button {
  position: absolute;
  left: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  background: transparent url(/static/images/themes/vote-bg@2x.png) 0 0 no-repeat;
  -moz-background-size: auto 54px;
  -o-background-size: auto 54px;
  -webkit-background-size: auto 54px;
  background-size: auto 54px;
}
.widget-vote .hate {
  bottom: 0;
  height: 18px;
  background-position: 0 bottom;
}
.post-offset {
  margin-left: 50px;
}
.fmt {
  overflow: hidden;
  font-size: 14px;
  line-height: 1.6;
  word-wrap: break-word;
}
.mb20, .mb-20 {
  margin-bottom: 20px;
}
.post-opt {
  font-size: 13px;
}
.post-opt a {
  color: #999;
}
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
.editor-wrap .editor {
  min-height: 88px;
}
.editor {
  position: relative;
  z-index: 1;
  min-height: 300px;
  overflow: hidden;
  border: 1px solid #CCC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.widget-welcome {
  margin-bottom: 25px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #666;
  -moz-box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
  box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
}
.mt20, .mt-20 {
  margin-top: 20px;
}
.widget-welcome.widget-welcome-question {
  background: #fcf8e3;
}
.pull-right {
  float: right !important;
}
.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.post-title {
  padding-bottom: 15px;
  border-bottom: 2px solid #ccc;
}
.widget-answers__item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.accepted-flag {
  position: relative;
  margin: 10px 0 0;
  background-color: #009a61;
  width: 100%;
  height: 25px;
  line-height: 35px;
  font-size: 13px;
  text-align: center;
  color: #FFF;
  z-index: 1;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px 2px 0 0;
}
.widget-answers__item .post-offset {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.post-offset .avatar-24 {
  float: right;
}
.widget-box:first-child, .widget-box.no-border {
  margin-top: 0;
  padding-top: 0;
  border: none;
}
.fz16 {
  font-size: 16px;
}
.pb20, .pb-20 {
  padding-bottom: 20px;
}
.mb30, .mb-30 {
  margin-bottom: 30px;
}
.border-bottom {
  border-bottom: 1px solid #DDD;
}
.widget-outline .panel-heading {
  cursor: initial;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.widget-outline .panel-heading {
  background-color: #FFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 16px;
}
.post-nav .panel-body {
  position: relative;
  z-index: 2;
  overflow: hidden;
  max-height: inherit;
  padding: 0 0 10px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.post-nav .nav-body {
  position: relative;
  padding: 0 12px;
}
.widget-outline .panel-body ul {
  padding-left: 18px;
  margin: 0;
  list-style-type: square;
}
.pt30, .pt-30 {
  padding-top: 30px;
}
.mb30, .mb-30 {
  margin-bottom: 30px;
}
.mt40, .mt-40 {
  margin-top: 40px;
}
.border-top {
  border-top: 1px solid #DDD;
}
.post-comment-title {
  padding-top: 20px;
  border-top: 2px solid #ccc;
  margin-bottom: 15px;
}
.widget-comments {
  list-style: none;
  margin: 0 0 15px;
  font-size: 13px;
  color: #666;
  padding: 10px;
  background-color: #F6F6F6;
  border-radius: 2px;
}
blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  font-size: 14px;
  border-left: 5px solid #eee;
}
.fmt blockquote {
  border-color: #008E59;
  color: #555;
  font-size: 1em;
}
.fmt h1, .fmt h2, .fmt h3 {
  margin: 28px 0 18px;
}
.fmt h1 {
  padding-bottom: 8px;
  font-size: 1.57143em;
}
.fmt h4, .fmt p, .fmt ul, .fmt ol, .fmt pre, .fmt blockquote, .fmt table {
  margin: 18px 0;
}
.gsitem {  margin-top: 20px;}
.gsitem img { margin:0 5px; }
a:hover { color : #008E59; }