<!-- footer section -->
<div id="footer">
    <ul id="sitemap">
        <li><a href="http://www.seleniumhq.org/projects/">Selenium 子项</a>
            <ul>
                <li><a href="http://www.seleniumhq.org/projects/ide/">Selenium IDE</a></li>
                <li><a href="http://www.seleniumhq.org/projects/remote-control/">Selenium Remote Control</a></li>
                <li><a href="http://www.seleniumhq.org/projects/webdriver/">Selenium WebDriver</a></li>
                <li><a href="http://www.seleniumhq.org/projects/grid">Selenium Grid</a></li>
            </ul>
        </li>
        <li><a href="http://www.seleniumhq.org/docs/">帮助文档</a>
            <ul>
                <li><a href="http://www.seleniumhq.org/docs/">Online version</a></li>
                <li><a href="http://code.google.com/p/selenium/w/list">Wiki</a></li>
                <li><a href="http://www.seleniumhq.org/download/#client-drivers">Selenium API</a></li>
            </ul>
        </li>
        <li><a href="http://www.seleniumhq.org/support/">技术支持</a>
            <ul>
                <li><a href="http://groups.google.com/group/selenium-users">User Group</a></li>
                <li><a href="http://code.google.com/p/selenium/issues/list">Bug Tracker</a></li>
                <li><a href="http://www.seleniumhq.org/support/index.html#CommercialSupport">Commercial Support</a></li>
                <li><a href="http://www.seleniumhq.org/support/index.html#IRC">IRC</a></li>
            </ul>
        </li>
        <li><a href="http://www.seleniumhq.org/about/">关于 Selenium</a>
            <ul>
                <li><a href="http://www.seleniumhq.org/about/news.jsp">News/Blogs</a></li>
                <li><a href="http://www.seleniumhq.org/about/events.html">Events</a></li>
                <li><a href="http://www.seleniumhq.org/about/contributors.html">Who made Selenium</a>
                </li><li><a href="http://code.google.com/p/selenium/wiki/RoadMap">Roadmap</a></li>
                <li><a href="http://www.seleniumhq.org/about/getting-involved.html">Getting Involved</a></li>
            </ul>
        </li>
        <li><a href="http://five3.github.io/testdoc/" target="_blank">github上参加本项目</a>
            <ul>
                <li><a href="mailto:five3@163.com">文档勘误联系</a></li>
                <li><a href="https://github.com/five3/testdoc/issues" target="_blank">在线提交问题</a></li>
            </ul>        	
        </li>
    </ul>
    <a href="http://openqa.org/"><img alt="openqa.org logo" id="footerLogo" src="/static/openqa-logo.png"></a>
</div>
<span id="scrolltop" onclick="window.scrollTo('0','0')" style="right: 10px;" title="回顶部">回顶部</span>
<div style="clear:both;"></div>
<div style="clear:both;" align="center">
	<script src="http://s9.cnzz.com/stat.php?id=5385992&web_id=5385992&show=pic" language="JavaScript"></script>
	<a href="http://www.miibeian.gov.cn" target="_blank">京ICP备12050610号-3</a>
	
</div>
</body>
</html>